importlib-resources>=1.1.0
tqdm
pylatex
requests
osfclient
vreg
TotalSegmentator
torch
monai==1.3.2
nibabel
scipy
dbdicom
pydicom<3               # needed by dicom2nifti & dbdicom (keep <3 for compatibility)
dicom2nifti==2.3.4      # DICOM ➜ NIfTI conversion utility
pytest